/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* Generic hide */
.hide {
    display: none;
}

/* Flexible Media */
img, video, object {
    max-width: 100%;
    height: auto;
}

.container {
    padding-top: 50px;
    background-color: #ffffff;
}

header.page-nav {
    background-color: #696969;
    display: block;
    position: fixed;
    height: 30px;
    width: 100%;
    top: 0;
    z-index: 5000;
}

header.page-nav ul {
    list-style: none;
}

header.page-nav ul li {
    display: inline;
    position: relative;
    float: left;
    padding: 5px 30px;
}

header.page-nav a {
    color: #ffffff;
    text-decoration: none;
}

header.page-nav a:hover {
    color: #ffaa00;
    opacity: 1;
}

div.nav-container {
    position: absolute;
    top: 0;
    width: 100%;
}

div.devices-list {
    position: absolute;
    top: 0;
    right: 70px;
}
div.devices-list > ul > li {
    height: 30px;
}

section.template-section {
    display: block;
    position: relative;
    margin: 0 0 40px;
    padding: 0;
    overflow: hidden;
}

#scaffolding > div {
    height: 40px;
    background-color: #ccc;
}

.offsets > div {
    height: 20px;
    display: block;
}

.offsets label  {
    height: 40px;
    background-color: #ccc;
    border: 1px solid #000;
    padding: 10px;
}

#swatches ul {
    list-style: none;
}

#swatches ul li {
    display: list-item;
    float: left;
    width: 5em;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 0.3em;
    margin: 0 0.2em 0.2em 0;
}

.sg-swatch {
    width: 100%;
    height: 4em;
    margin-bottom: 0.2em;
    display: block;
}

h3.section-header {
    border-bottom: 1px solid #696969;
}

.column img, .columns img {
    display: block;
    margin: 0 auto;
}

.button-disabled {
    background-color: #eeeeee;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #cccccc !important;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.button-disabled:hover {
    color: #cccccc !important;
}


/* Dropdown Navigation
================================================== */

ul li ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 25px;
    width: 100px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul li ul li {
    background: #555;
    display: block;
    margin: 0;
    color: #fff;
    width: 100px;
    padding-left: 10px !important;
}
ul li ul li:hover {
    background: #696969;
}
ul li:hover ul {
    display: block;
}



/* Mobile Navigation
================================================== */

.mobile-nav {
    display: none;
    background-color: #696969;
    height: 40px;
    width: 100%;
    top: 0;
}

.mobile-nav .menu-button {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.mobile-nav .menu-button > i {
    color: #ffffff;
    cursor: pointer;
}

.mobile-menu-links {
    display: none;
    visibility: hidden;
    width: 200px;
    height: 100%;
    background-color: #696969;
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 50000;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mobile-menu-links li {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
}

.mobile-menu-links a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}


/* Parallax Styles
================================================== */

.parallaxMask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#parallaxSlice1 {
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

.maskParent{
    position: relative;
    height: 100%;
    width: 100%;
}

.parallaxText {
    padding-top: 85px;
    padding-bottom: 85px;
    text-align: center;
    position: relative;
}

.parallaxText blockquote {
    border-left: none;
}

#parallaxSlice1 {
    background-image: url('../images/burningman7.jpg');
}

/* End Parallax
=================================================== */


#device-frame {
    height: auto;
    display: block;
    margin: 30px auto;
}

.mce-tinymce {
    width: 500px !important;
}




/* Form Styles
================================================== */

.form-label {
    margin-top: 20px;
}



/* Lightbox Styles
================================================== */

img.lightboxthumbnail {
    cursor: pointer;
    border: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.8;
    z-index: 49999;
}

.lightbox {
    z-index: 50000;
    position: fixed;
    top: 5%;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 10px 20px 20px;
    left: 50%;
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Safari */
    transform: translateX(-50%); /* Stuff that knows WTF is going on */
}

.lightbox-header {
    border-bottom: 1px solid #696969;
    padding: 10px 0;
}

.close-lightbox {
    display: block;
    position: absolute;
    right: 3%;
    top: 2.5%;
    cursor: pointer;
}

.lightbox-image-container {
    height: 100%;
    width: 100%;
}


/* Isotope Example
================================================== */

.item {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}

.item.width2 { width: 200px; }
.item.height2 { height: 200px; }

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

.color1 {
    background-color: #5bc0de;
}

.color2 {
    background-color: #C6E746;
}

.color3 {
    background-color: #d6e9c6;
}

.color4 {
    background-color: #FFFF00;
}



/* Text Styles
================================================== */

.warning {
    font-weight: bold;
    font-style: italic;
    color: #ff8000;
}

.error {
    font-weight: bold;
    font-style: italic;
    color: #ff0000;
}

.confirm {
    font-weight: bold;
    color: #009900;
}

.small {
    font-size: 80%;
}

h3 {
    font-size: 1em;
    color: #696969;
    font-weight: 600;
}

.outline {
    -webkit-text-stroke: 1px #000000;
    -webkit-text-fill-color: #ff0000;
}

header.page-nav a.active {
    color: #ff8000;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

    @media only screen and (max-width: 1250px) {
        .nav-container {
            display: none;
        }
        .devices-list {
            display: none;
        }
        .mobile-nav {
            display: block;
        }
    }

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/