/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 1440 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 1440 Grid
================================================== */

    .container                                  { position: relative; max-width: 1440px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 0; margin-right: 10px; padding: 0 5px; margin-bottom: 10px; }
    .row                                        { margin-bottom: 20px; }
    .column.last, .columns.last                 { padding-right: 0 !important; padding-left: 0 !important; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 5%; }
    .container .two.columns                     { width: 11%; }
    .container .three.columns                   { width: 17%; }
    .container .four.columns                    { width: 23%; }
    .container .five.columns                    { width: 29%; }
    .container .six.columns                     { width: 35%; }
    .container .seven.columns                   { width: 41%; }
    .container .eight.columns                   { width: 47%; }
    .container .nine.columns                    { width: 53%; }
    .container .ten.columns                     { width: 59%; }
    .container .eleven.columns                  { width: 65%; }
    .container .twelve.columns                  { width: 71%; }
    .container .thirteen.columns                { width: 77%; }
    .container .fourteen.columns                { width: 83%; }
    .container .fifteen.columns                 { width: 89%; }
    .container .sixteen.columns                 { width: 100%; }

    .container .one-third.column                { width: 29.5%; }
    .container .two-thirds.column               { width: 64.5%; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Special padding for "grid" layups */
    .container .one-third.column.three-up       { padding: 0 3% 0 0; }
    .container .four.columns.four-up            { width: 22%; padding: 0 2% 0 0; }


/* Offsets */
    .container .offset-by-one                   { padding-left: 5%;  }
    .container .offset-by-two                   { padding-left: 11%; }
    .container .offset-by-three                 { padding-left: 17%; }
    .container .offset-by-four                  { padding-left: 23%; }
    .container .offset-by-five                  { padding-left: 30%; }
    .container .offset-by-six                   { padding-left: 36%; }
    .container .offset-by-seven                 { padding-left: 42%; }
    .container .offset-by-eight                 { padding-left: 47%; }
    .container .offset-by-nine                  { padding-left: 54%; }
    .container .offset-by-ten                   { padding-left: 60%; }
    .container .offset-by-eleven                { padding-left: 66%; }
    .container .offset-by-twelve                { padding-left: 73%; }
    .container .offset-by-thirteen              { padding-left: 79%; }
    .container .offset-by-fourteen              { padding-left: 85%; }
    .container .offset-by-fifteen               { padding-left: 91%; }


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 550px) and (max-width: 1140px) {
        .container                                  { width: 100%; }
        .container .column,
        .container .columns                         { margin-right: 10px; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }
        .column.last                                { margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 5%; }
        .container .two.columns                     { width: 9%; }
        .container .three.columns                   { width: 15%; }
        .container .four.columns                    { width: 21%; }
        .container .five.columns                    { width: 27%; }
        .container .six.columns                     { width: 33%; }
        .container .seven.columns                   { width: 39%; }
        .container .eight.columns                   { width: 45%; }
        .container .nine.columns                    { width: 51%; }
        .container .ten.columns                     { width: 57%; }
        .container .eleven.columns                  { width: 63%; }
        .container .twelve.columns                  { width: 69%; }
        .container .thirteen.columns                { width: 75%; }
        .container .fourteen.columns                { width: 81%; }
        .container .fifteen.columns                 { width: 85%; }
        .container .sixteen.columns                 { width: 100%; }

        .container .one-third.column                { width: 28.5%; }
        .container .two-thirds.column               { width: 62.5%; }

        .container .four.columns.four-up            { width: 21%; }
    }



/* #Other Random Midway Breakpoint Treatments
================================================== */


    @media only screen and (min-width: 550px) and (max-width: 680px) {
        .container .one-third.column.three-up       { padding: 0 3% 0 0; }
    }

    @media only screen and (min-width: 742px) and (max-width: 1140px) {
        .container .four.columns.four-up {
            padding: 0 3.5% 0 0;
        }
    }


/*  #Mobile (Portrait)
================================================== */


    @media only screen and (max-width: 549px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }
        /*.column.last, .columns.last { padding-right: 10px !important; padding-left: 10px !important; }*/

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 92%; padding: 0 10px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 549px) {
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 94%; padding: 0 10px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
